.TopBannerHeader {
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
}
.bannerTitle {
	font-size: 50px;
	font-weight: 600;
	margin: 0 0 45px;
	line-height: 72px;
}

.buttonWidth {
	max-width: 500px;
}
.noPadding {
	padding: 0px;
}
.displayFlex {
	display: flex;
	flex-wrap: wrap;
}
.btnRight {
	margin-left: 20px;
}
.responsiveMargin {
	margin-left: 10%;
}
.grid{
	display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F7F7F7;
    height: 771px;
    align-items: center;
}
.bannerText{
	padding: 0 84px;
}
.linkButton{
	background-color: transparent !important;
}
.borderRadius{
	border-radius: 23px;
	padding: 11px 28px 13px;
}
.learnIcon{
	margin-left: 8px;
	-webkit-animation: moveUpDown 0.45s infinite alternate;
	animation: moveUpDown 0.45s infinite alternate;
	margin-top: 6px;
}
@-webkit-keyframes moveUpDown {
	0% {
	  transform: translateY(0);
	}
  
	100% {
	  transform: translateY(-5px);
	}
  }
  
  @keyframes moveUpDown {
	0% {
	  transform: translateY(0);
	}
  
	100% {
	  transform: translateY(-5px);
	}
  }
@media(max-width:991px) {
.grid{
	margin-top: 83px;
}
}
@media (max-width:1024px) and (min-width:992px) {
	.bannerText {
		padding: 0 65px;
	}
	}
@media(max-width:991px) {
	.TopBannerHeader {
		justify-content: center;
	}
	.responsiveMargin {
		margin-left: 0;
	}
	.bannerText {
		padding: 0 25px;
	}
	.borderRadius {
		padding: 11px 20px 13px;
	}
}
@media screen and (max-width: 640px) {
	.smSpace {
		margin-bottom: 12px;
	}
	.smPadding {
		padding: 0px;
	}
	.TopBannerHeader {
		min-height: 400px;
	}
	.bannerSubTitle {
		font-size: 18px;
	}
	.bannerText{
		padding: 70px 15px 20px;
	}
	.bannerTitle {
		font-size: 36px;
		line-height: 46px;
	}
	.grid{
		grid-template-columns: 100%;
	}
}
@media(max-width:500px) {
	.displayFlex {
		flex-direction: column;
	}
	.btnRight {
		margin-left: 0px;
		margin-top: 20px;
		text-align: center;

	}
}
@media screen and (min-width:768px) and (max-width:1024px) {
	.tabViewFlex{
		flex-direction: column;
		gap: 20px;
	}
	.whyHostLearnMoreBtn{
		margin-left: 0;
		text-align: center;
	}
}