@import '../../../variables.css';
@import '../../admin-common.css';
@import '../../admin-form.css';
@import '../../../helpers.css';

.root {
  padding: 32px;
}

.container {
  margin: 0 auto;
  padding: 0px;
  max-width: 380px;
}

.logInModalContainer {
  max-width: 450px;
}

.logInModalBody {
  padding: 0px;
}

.modelFlex {
  display: grid;
  align-items: center;
  word-break: break-word;
  grid-template-columns: 40% 58%;
  grid-column-gap: 8px;
}

@media screen and (max-width: 767px) {
  .modelFlex {
    grid-template-columns: 100%;
    margin-bottom: 12px
  }
}