@import "../../../components/variables.css";

.pagecontentWrapper {
  margin-left: 270px;
  position: relative;
  padding: 80px 25px;
}

.dFlex {
  display: flex;
}
.dAic {
  align-items: center;
}
.dJcr {
  justify-content: end;
}
.mb3 {
  margin-bottom: 0.8rem;
}
