@import '../../../components/variables.css';
.incrementDecrementButton {
	width: 100%;
	border: 1px solid var(--border-secondary-color);
	border-radius: 2px;
	overflow: hidden;
	height: 58px;
	display: grid;
    grid-template-columns: 3fr 0fr 0fr;
}
 .incrementDecrementText {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 18px 20px;
	margin: 0px;
	font-size: 16px;
	line-height: 1;
	vertical-align: middle;
	font-weight: normal;
	background: #fff;
}
.iconButton {
	border-color: var(--border-secondary-color);
	border-width: 0px 0px 0px 1px;
	border-radius: 0px;
	padding: 12px 21px;
	height: 58px;
	margin: 0px 0px;
	font-size: 15px;
	line-height: 1px;
	color: var(--btn-secondary-bg);
	background: #fff;
}
.iconButton:hover,
.iconButton:focus,
.iconButton:active {
	background: #fff;
	border-color: var(--border-secondary-color);
	border-width: 0px 0px 0px 1px;
	margin-left: 0px;
	outline: 0 !important;
	box-shadow: none;
}