@import '../../variables.css';
@import '../../utils.css';
@import '../../helpers.css';
@import '../../common.css';

.panelHeader {
	border-radius: 0;
	width: 100%;
	display: block;
	font-size: 16px;
	border-bottom: 1px solid var(--border-secondary-color);
	border-radius: 14px;
}

.formControlInput {
	display: block;
	padding: 8px 10px !important;
	width: 100%;
}

.textRight {
	text-align: right;
}

.formGroup {
	margin-bottom: 18px;
}

.btnBig {
	padding: 13px 21px !important;
	width: 100%;
}

.pwdImage {
	position: absolute;
	top: 49px;
	right: 20px;
	cursor: pointer;
}

.positionRelative{
	position: relative;
}

@media screen and (max-width: 767px) {
	.textRight {
		text-align: left;
	}
}