@import '../../variables.css';
/** Common - Start **/
.noPadding {
    padding: 0px;
}
.noMargin {
    margin: 0px;
}
/** Common - End **/
/** Banner caption - Start **/
.bannerCaptionContainer {
    position: relative;
}
.bannerCaptionText {
    font-size: 60px;
    line-height: 66px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
    font-weight: 600;
    text-align: center;
}
.bannerCaptionHighlight {
    font-weight: 700;
    color: var(--btn-primary-bg);
}
@media screen and (max-width: 1200px) {
    .bannerCaptionText {
        padding-top: 110px;
    }
}
@media screen and (max-width: 767px) {
    .bannerCaptionText {
        font-size: 25px;
        line-height: 30px;
    }    
}
/** Banner caption - End **/